-- CreateTable
CREATE TABLE "lastfm_info" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "track" TEXT,
    "album" TEXT,
    "artist" TEXT
);

-- CreateTable
CREATE TABLE "spotify_playlist_items" (
    "playlist_id" TEXT NOT NULL,
    "track_id" TEXT NOT NULL,

    PRIMARY KEY ("playlist_id", "track_id"),
    CONSTRAINT "spotify_playlist_items_track_id_fkey" FOREIGN KEY ("track_id") REFERENCES "spotify_tracks" ("id") ON DELETE CASCADE ON UPDATE NO ACTION,
    CONSTRAINT "spotify_playlist_items_playlist_id_fkey" FOREIGN KEY ("playlist_id") REFERENCES "spotify_playlists" ("id") ON DELETE CASCADE ON UPDATE NO ACTION
);

-- CreateTable
CREATE TABLE "spotify_playlists" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "title" TEXT,
    "owner" TEXT,
    "full_response" TEXT
);

-- CreateTable
CREATE TABLE "spotify_tracks" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "title" TEXT NOT NULL,
    "artist" TEXT NOT NULL,
    "full_response" TEXT NOT NULL
);

-- CreateTable
CREATE TABLE "youtube_playlist_items" (
    "playlist_id" TEXT NOT NULL,
    "video_id" TEXT NOT NULL,

    PRIMARY KEY ("playlist_id", "video_id"),
    CONSTRAINT "youtube_playlist_items_video_id_fkey" FOREIGN KEY ("video_id") REFERENCES "youtube_videos" ("id") ON DELETE CASCADE ON UPDATE NO ACTION,
    CONSTRAINT "youtube_playlist_items_playlist_id_fkey" FOREIGN KEY ("playlist_id") REFERENCES "youtube_playlists" ("id") ON DELETE CASCADE ON UPDATE NO ACTION
);

-- CreateTable
CREATE TABLE "youtube_playlists" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "title" TEXT,
    "owner" TEXT,
    "full_response" TEXT
);

-- CreateTable
CREATE TABLE "youtube_videos" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "spotify_id" TEXT,
    "lastfm_id" INTEGER,
    "title" TEXT NOT NULL,
    "artist" TEXT NOT NULL,
    "duration_ms" INTEGER NOT NULL,
    "full_response" TEXT NOT NULL,
    CONSTRAINT "youtube_videos_lastfm_id_fkey" FOREIGN KEY ("lastfm_id") REFERENCES "lastfm_info" ("id") ON DELETE SET NULL ON UPDATE NO ACTION,
    CONSTRAINT "youtube_videos_spotify_id_fkey" FOREIGN KEY ("spotify_id") REFERENCES "spotify_tracks" ("id") ON DELETE SET NULL ON UPDATE NO ACTION
);

