@import 'tailwindcss';
@import '@fontsource-variable/roboto-flex/index.css';
@plugin '@tailwindcss/typography';
@plugin 'tailwind-scrollbar';

:root {
   --font-family: 'Roboto Flex Variable', sans-serif;
   --font-sans: 'Roboto Flex Variable', ui-sans-serif, system-ui, sans-serif;

   --color-50: oklch(0.95 0.025 357);
   --color-100: oklch(0.87 0.04 358);
   --color-200: oklch(0.79 0.08 360);
   --color-300: oklch(0.71 0.11 1);
   --color-400: oklch(0.61 0.15 4);
   --color-500: oklch(0.56 0.17 6); /* accent */
   --color-600: oklch(0.49 0.15 6);
   --color-700: oklch(0.41 0.12 5);
   --color-800: oklch(0.33 0.09 5);
   --color-900: oklch(0.24 0.06 4);
   --color-950: oklch(0.15 0.03 359);
   --color-main: #181818;
   --color-text-subtle: oklch(0.75 0.025 357);
}

body {
   background-color: var(--color-main-lighter);
}

@theme inline {
   --color-main: oklch(0.209 0 0);
   --color-main-lighter: oklch(0.25 0 0);
   --color-darker: oklch(0.24 0.06 4.2);
   --color-dark: oklch(0.4 0.14 4.6);
   --color-accent-darker: oklch(0.55 0.17 6);
   --color-accent: oklch(0.7 0.18 6);
   --color-text: oklch(0.95 0.01 0);
   --color-text-subtle: oklch(0.7 0.01 0);
}

@layer utilities {
   .no-jump {
      /* Змушує створити новий шар композиції (GPU) */
      transform: translateZ(0);

      /* Приховує зворотний бік, що часто фіксить тремтіння в WebKit */
      backface-visibility: hidden;

      /* Додаткова підказка браузеру про майбутні зміни */
      will-change: transform;

      /* Фіксація згладжування шрифту (особливо для macOS/iOS) */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
   }

   .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
   }

   .scrollbar-hide::-webkit-scrollbar {
      display: none;
   }
}

@layer base {
   *::-webkit-scrollbar {
      width: 10px;
      height: 10px;
   }

   *::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: var(--color-main);
   }

   *::-webkit-scrollbar-thumb {
      background: var(--color-darker);
      border-radius: 100vh;
      border: 2px solid var(--color-main);
   }

   *::-webkit-scrollbar-thumb:hover {
      background: var(--color-dark);
   }
}
